# Server Config
PORT=3000
API_PREFIX=/hackathon

# DigiKey API Creds
DIGIKEY_CLIENT_ID=your_digikey_client_id
DIGIKEY_CLIENT_SECRET=your_digikey_client_secret
DIGIKEY_API_URL=https://api.digikey.com
DIGIKEY_TOKEN_URL=https://api.digikey.com/v1/oauth2/token

# Admin Auth
ADMIN_CODE=WATERMELONPICKLE123

# Push Notification Config (VAPID Keys, get from server logs)
VAPID_PUBLIC_KEY=BNuGTceSKP8izrkcqMWwEPNiQtsubumjDYISvPv7EtWCXHljS0o1rnO_DAf2nqLnE38NkRLmc7dphLccS1Zd6Jo
VAPID_PRIVATE_KEY=EJEjgodlaquylywlhhWw7RFgcevcwMklXHnVt1Vrl-Q
CONTACT_EMAIL=meghana@hackclub.com
